{{ 'custom-header.css' | asset_url | stylesheet_tag }}

<header class="custom-header custom-header--sticky" id="custom-header-{{ section.id }}">
    <div class="custom-header__container">
        {% comment %} logo {% endcomment %}
         <div class="custom-header__logo">
            <a href="{{ routes.root_url }}" class="custom-header__logo-link">
                {% if section.settings.logo_image != blank %}
                    {% assign logo_alt = section.settings.logo_image.alt | default: shop.name | escape %}
                    {{ 
                        section.settings.logo_image | image_url: width: 600 |
                        image_tag:  class: 'custom-header__logo-img',
                        widths: '50, 100, 150, 200, 250, 300, 400, 500, 600',
                        alt: logo_alt  
                     }}
                {% else %}
                    <span class="custom-header__logo-text"> {{ section.settings.logo_text | default: shop.name }} </span>
                {% endif %}
            </a>
         </div>
    </div>
</header>


{% schema %}
{
    "name": "Custom header",
    "settings": [
        {
            "type": "header",
            "content": "Logo settings"
        },
        {
            "type": "image_picker",
            "id": "logo_image",
            "label": "Logo"
        },
        {
            "type": "text",
            "id": "logo_text",
            "label": "Logo text",
            "default": "TISSO VISION"
        },
        {
            "type": "range",
            "id": "logo_width_desktop",
            "min": 50,
            "max": 300,
            "step": 10,
            "unit": "px",
            "label": "Logo width (desktop)",
            "default": 150
        },
        {
            "type": "range",
            "id": "logo_width_mobile",
            "min": 50,
            "max": 200,
            "step": 10,
            "unit": "px",
            "label": "Logo width (desktop)",
            "default": 90
        },
        {
            "type": "header",
            "content": "Content settings"
        },
        {
            "type": "text",
            "id": "center_text",
            "label": "Center text",
            "default": "Find the ideal gift for your loved ones."
        },
        {
            "type": "text",
            "id": "button_label",
            "label": "Button label",
            "default": "Choose Gift"
        },
        {
            "type": "url",
            "id": "button_link",
            "label": "Button link"
        }
    ],
    "presets": [
        {
            "name": "Custom header"
        }
    ]
}
{% endschema %}