{{  'custom-featured-collection.css' | asset_url | stylesheet_tag }}

{% style %}
  #shopify-section-{{ section.id }} {
    --columns-desktop: {{ section.settings.columns_desktop }};
  }
{% endstyle %}

<div class="custom-featured-collection" id="custom-featured-collection-{{ section.id }}">
    <div class="custom-featured-collection__container">
        <div class="custom-featured-collection__grid">
            {% assign limit = section.settings.products_to_show %}
            {% if section.settings.product_list != blank %}
                {% for product in section.settings.product_list limit: limit %}
                    {%- capture hotspot_pos -%} {% cycle 'pos-1', 'pos-2', 'pos-3', 'pos-4', 'pos-5', 'pos-6', %} {%- endcapture -%}

                    <div class="custom-featured-collection__card" data-prodyc-id="{{ product.id }}" data-product-handle="{{ product.handle }}">
                        <div class="custom-featured-collection__media">
                            {% if product.featured_media != blank %}
                                {{ product.featured_media | image_url: width: 1000 | image_tag: 
                                    class: 'custom-featured-collection__image',
                                    loading: 'lazy',
                                    widths: '300, 550, 750, 1000',
                                    alt: product.featured_media.alt | escape
                                }}
                            {% else %}
                                {{ 'product-1' | placeholder_svg_tag: 'custom-featured-collection__placeholder' }}
                            {% endif %}

                            {% comment %} plus button {% endcomment %}
                             <button class="custom-featured-collection__hotspot custom-featured-collection__hotspot-{{ hotspot_pos }}"
                                aria-label="Quick buy {{ product.title | escape }}"
                                aria-expanded="false"
                                data-trigger-quickbuy={{ product.id }}>
                                    {{ 'custom-plus-icon.svg' | inline_asset_content }}
                             </button>
                        </div>


                        {% comment %} Popup {% endcomment %}
                         <div class="custom-featured-collection__modal" id="Modal-{{ product.id }}" aria-hidden="true">
                            <div class="custom-featured-collection__modal-backdrop" data-close-mdal={{ product.id }}></div>

                            <div class="custom-featured-collection__modal-content">
                                <button type="button" class="custom-featured-collection__modal-close" data-close-modal="{{ product.id }}" aria-label="Close Modal">&times;</button>

                                <div class="custom-featured-collection__modal-header">
                                    <div class="custom-featured-collection__modal-img-wrapper">
                                        {% if product.featured_media != blank %}
                                            
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                         </div>
                    </div>
                {% endfor %}
            {% else %}
            {% endif %}
        </div>
    </div>
</div>


{% schema %}
{
    "name": "Custom collection",
    "settings": [
        {
            "type": "product_list",
            "id": "product_list",
            "label": "Products"
        },
        {
            "type": "range",
            "id": "columns_desktop",
            "min": 2,
            "max": 6,
            "step": 1,
            "label": "Columns (desktop)",
            "default": 3
        },
        {
            "type": "range",
            "id": "products_to_show",
            "min": 2,
            "max": 24,
            "step": 1,
            "label": "Total products to show",
            "default": 6
        }
    ],
    "presets": [
        {
            "name": "Custom collection"
        }
    ]
}
{% endschema %}
